<div class="mat-dialog-title" fxLayout="row" fxLayoutAlign="space-between center">
  <label mat-label>{{fullDate}}</label>
  <button mat-fab color="warn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="formNewEvent" fxFill>
  <div>
    <p mat-label><strong>Adicionar evento</strong></p>
  </div>
  <mat-card>
    <div>
      <mat-form-field fxFill>
        <input matInput formControlName="title" placeholder="Título" required>
        <mat-error *ngIf="formNewEvent.get('title').touched && formNewEvent.get('title').hasError('required')">Obrigatório!</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="24">
        <input matInput formControlName="startDay" [value]="formNewEvent.value.startDay" placeholder="Dia de Início"
          readonly>
      </mat-form-field>
      <mat-form-field fxFlex="24">
        <input matInput type="time" formControlName="startHour" placeholder="Hora de Início">
      </mat-form-field>
      <mat-form-field fxFlex="24">
        <input matInput formControlName="endDay" [matDatepicker]="endDay" placeholder="Dia de Término" readonly>
        <mat-datepicker-toggle matSuffix [for]="endDay"></mat-datepicker-toggle>
        <mat-datepicker #endDay color="primary" disabled="false"></mat-datepicker>
      </mat-form-field>
      <mat-form-field fxFlex="24">
        <input matInput type="time" formControlName="endHour" placeholder="Hora de Término">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFill>
      <mat-form-field fxFill>
        <input matInput formControlName="local" placeholder="Localização">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxFill>
      <mat-form-field fxFill>
        <textarea matInput #message maxlength="128" matTextareaAutosize placeholder="Descrição" formControlName="description"></textarea>
        <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center">
      <button mat-raised-button color="primary" [disabled]="!formNewEvent.valid" (click)="saveEvent(formNewEvent.value)">Salvar</button>
    </div>
  </mat-card>
</form>
<div>
  <div *ngIf="formEditEvent.length != 0 " class="mat-card-event">
    <p mat-label><strong>Editar eventos</strong></p>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let formEdit of formEditEvent">
      <mat-expansion-panel-header>
        <mat-panel-title fxLayoutAlign="none center">
          {{formEdit.get('title').value}}
        </mat-panel-title>
        <mat-panel-description *ngIf="formEdit.get('startHour').value != ''" fxLayoutAlign="space-between center">
          <div>
            <p mat-label>Se inicia às {{formEdit.get('startHour').value}}</p>
          </div>
          <div *ngIf="formEdit.get('isActive').value">
            <p mat-label style="color: red">(cancelado)</p>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="formEdit">
        <div>
          <mat-form-field fxFill>
            <input matInput placeholder="Título" formControlName="title" required>
            <mat-error *ngIf="formEdit.get('title').touched && formEdit.get('title').hasError('required')">Obrigatório!</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="24">
            <input matInput  placeholder="Dia de Início" formControlName="startDay" readonly>
          </mat-form-field>
          <mat-form-field fxFlex="24">
            <input matInput type="time" formControlName="startHour" placeholder="Hora de Início">
          </mat-form-field>
          <mat-form-field fxFlex="24">
            <input matInput [matDatepicker]="endDay" formControlName="endDay" placeholder="Dia de Término"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="endDay"></mat-datepicker-toggle>
            <mat-datepicker #endDay color="primary"></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="24">
            <input matInput type="time" formControlName="endHour" placeholder="Hora de Término">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFill>
          <mat-form-field fxFill>
            <input matInput formControlName="local" placeholder="Localização">
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field fxFill>
            <textarea matInput #message maxlength="128" formControlName="description" matTextareaAutosize placeholder="Descrição"></textarea>
            <mat-hint align="end">{{message.value.length}} / 128</mat-hint>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxFill>
          <mat-slide-toggle color="warn" formControlName="isActive">Cancelar evento.</mat-slide-toggle>
        </div>
      </form>
      <div class="mat-card-event" mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxFill>
        <button mat-raised-button color="warn" (click)="deleteEvent(formEdit.value)">Excluir</button>
        <button mat-raised-button color="primary" [disabled]="!formEdit.valid" (click)="updateEvent(formEdit.value)">Salvar</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
