<mat-toolbar class="mat-elevation-z6" color="basic">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="15" fxLayoutAlign="space-between center">
      <a routerLink="/apps/home">
        <img id="logo" src="../assets//Logo/OrganizYou_icon.png" alt="OrganizeYou" title="Fique Organizado!" width="50px"
          height="50px" class="menu-item" />
      </a>
      <span class="menu-item">OrganizeYou</span>
    </div>
    <div>
      <div>
        <a id="button-home" mat-button color="basic" routerLink="/apps/home">Home</a>
        <a id="button-notes" mat-button color="basic" routerLink="/apps/fast-notes">Notas Rápidas</a>
        <a id="button-calendar" mat-button color="basic" routerLink="/apps/calendar">Calendário</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
