<div *ngIf="isLoading" class="spinner-content" fxLayout="row">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div @fade>
  <div id="month-color" fxLayoutAlign="space-around center">
    <button mat-button matTooltip="Mês anterior" (click)="beforeMonth()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <h1 style="text-align: center">{{currentMonthFull}} de {{currentYear}}</h1>
    <button mat-button matTooltip="Próximo mês" (click)="nextMonth()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <mat-grid-list cols="7" [rowHeight]="rowHeight">
    <mat-grid-tile-header>
      <mat-grid-tile>Dom<span *ngIf="!smallScreen">ingo</span></mat-grid-tile>
      <mat-grid-tile>Seg<span *ngIf="!smallScreen">unda</span></mat-grid-tile>
      <mat-grid-tile>Ter<span *ngIf="!smallScreen">ça</span></mat-grid-tile>
      <mat-grid-tile>Qua<span *ngIf="!smallScreen">rta</span></mat-grid-tile>
      <mat-grid-tile>Qui<span *ngIf="!smallScreen">nta</span></mat-grid-tile>
      <mat-grid-tile>Sex<span *ngIf="!smallScreen">ta</span></mat-grid-tile>
      <mat-grid-tile>Sáb<span *ngIf="!smallScreen">ado</span></mat-grid-tile>
    </mat-grid-tile-header>
    <mat-grid-tile *ngFor="let days of calendar" class="mat-elevation-z6" color="basic">
      <button mat-button fxFill [ngStyle]="{'background-color': days.day == currentDay ? 'rgba(0, 0, 255, 0.3)' : 'none'}"
        (click)="openDialog(days.day, days.events)" [disabled]="days.isEnabled">
        <div>
          <strong fxLayoutAlign="end start" class="event-info">
            {{days.day}}
          </strong>
          <div fxLayoutAlign="start end" *ngIf="!days.isEnabled" class="event-info">
            <mat-icon *ngFor="let canceledInfo of days.events" [color]="!canceledInfo.isActive ? 'primary' : 'warn'">event_note</mat-icon>
          </div>
        </div>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
