<div id="main-login" fxFill fxLayoutAlign="center center">
  <div fxFlex.xs="100" fxFlex.sm="60" fxFlex.md="40" fxFlex.xl="30" fxFlex="25">
    <div fxFill fxLayout="column">
      <mat-card>
        <div class="mat-dialog-title" fxLayout="row" fxLayoutAlign="start center">
          <img fxFlex="10%" fxFlex.sm="15%" fxFlex.xs="15%" src="../../assets/Logo/novoLogo_OrganizYou.png"/>
          <h3 mat-label>OrganizYou</h3>
        </div>
        <form [formGroup]="loginForm" fxFill>
          <div>
            <p mat-label>Entrar com uma conta já existente.</p>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFill>
              <input matInput type="email" formControlName="user" placeholder="Login" required>
              <mat-error *ngFor="let validation of validationTypes.Email">
                <span *ngIf="loginForm.get('user').touched && loginForm.get('user').hasError(validation.type)">
                  {{validation.message}}
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field fxFill>
              <input maxlength="63" matInput [type]="isDisplay ? 'text' : 'password'" formControlName="password" placeholder="Senha" required>
              <button matSuffix [matTooltip]="isDisplay ? 'Esconder senha' : 'Mostrar senha'" mat-icon-button (click)="isDisplay ? isDisplay = false : isDisplay = true">
                <mat-icon>{{ !isDisplay ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngFor="let validation of validationTypes.Password">
                <span *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError(validation.type) ">
                  {{validation.message}}
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <a mat-label href="#">Esqueceu a senha?</a>
          </div>
          <div fxLayout="row">
            <p mat-label>Não tem uma conta? <a mat-label href="#">Crie uma.</a></p>
          </div>
          <div mat-card-actions fxLayoutAlign="end center">
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid  && (loginForm.dirty || loginForm.touched)" (click)="auth.doLogin(loginForm.value);">Entrar</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
