<div @fade>
  <div fxLayout="column">
    <mat-card class="content">
      <label fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center" *ngIf="formEditNotes.length == 0">Não há
        nenhuma anotação ainda.</label>
      <div class="btn-add">
        <button mat-fab color="primary" (click)="addNote()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div *ngFor="let formNotes of formEditNotes" style="margin-top: 20px" fxFlex.xs="100" fxFlex.sm="0 1 calc(48%)"
          fxFlex.md="0 1 calc(32%)" fxFlex.lg="0 1 calc(23%)" fxFlex="0 1 calc(18%)">
          <mat-card fxFlex="100" [ngStyle]="{'background-color': formNotes.get('color') == '' ? 'rgb(255, 255, 255)' : convertColor(formNotes.get('color').value)}">
            <form [formGroup]="formNotes">
              <div fxFill>
                <mat-form-field fxFill>
                  <input matInput placeholder="Título" formControlName="title" readonly (click)="updateNote(formNotes.value)" />
                </mat-form-field>
                <mat-form-field fxFill>
                  <textarea matInput placeholder="Anotação" rows="6" formControlName="content" readonly (click)="updateNote(formNotes.value)"></textarea>
                </mat-form-field>
              </div>
            </form>
            <div fxLayoutAlign="end none">
              <button mat-icon-button (click)="updateNote(formNotes.value)">
                <mat-icon matTooltip="Editar">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(formNotes.value)">
                <mat-icon matTooltip="Excluir">delete</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
  <div *ngIf="isLoading" class="spinner-content">
    <mat-spinner [diameter]="50" class="spinner"></mat-spinner>
  </div>
</div>
