<div *ngIf="isLoading" class="spinner-content">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div @fade>
  <div fxLayout="column">
    <mat-card class="content">
      <label fxLayoutAlign="center center" fxFill *ngIf="formEditNotes.length == 0">Não há nenhuma anotação ainda.</label>
      <div class="btn-add">
        <button mat-fab color="primary" (click)="addNote()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div *ngFor="let formNotes of formEditNotes" style="margin-top: 10px" fxFlex.xs="100" fxFlex.sm="0 1 calc(48%)" fxFlex.md="0 1 calc(33%)" fxFlex.lg="0 1 calc(33%)">
          <mat-card fxFlex="100" [ngStyle]="{'background-color': formNotes.get('color') == '' ? 'rgb(255, 255, 255)' : convertColor(formNotes.get('color').value)}">
            <form [formGroup]="formNotes">
              <div fxFill>
                <mat-form-field fxFill>
                  <input matInput placeholder="Título" formControlName="title" readonly />
                </mat-form-field>
                <mat-form-field fxFill>
                  <textarea matInput placeholder="Anotação" rows="5" formControlName="content" readonly></textarea>
                </mat-form-field>
              </div>
            </form>
            <div fxLayoutAlign="end none">
              <button mat-icon-button (click)="updateNote(formNotes.value)">
                <mat-icon matTooltip="Editar">edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(formNotes.value)">
                <mat-icon matTooltip="Excluir">delete</mat-icon>
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
